##################################################################################################
#This file created by Huy Nguyen
#Updated date: 6/30/2024
##################################################################################################

# Compilation option for all testcase (Not supported yet)
cmp_opts =

# Coverage option: on | off (Not supported yet)
cov = on

# Dump wave option: on | off (Not supported yet)
wave = on

# To check pass condition in log file, format as string 
pass_key_word = "TEST_PASS"

# To check fail condition in log file, format as string 
fail_key_word = "TEST_FAIL"

# Set verbosity option for UVM testbench (Not supported yet)
pl = UVM_LOW

tc_list {
  default_value_register, run_times=1 , run_opts= ;
  read_write_register, run_times=1, run_opts= ;
  reset_on_the_fly, run_times=1, run_opts= ; 
  reserved_register, run_times=1, run_opts= ;
  consecutive_apb_access, run_times=1, run_opts= ;

  clk_div_no_div, run_times=1, run_opts= ;
  clk_div_by2, run_times=1, run_opts= ; 
  clk_div_by4, run_times=1, run_opts= ;
  clk_div_by8, run_times=1, run_opts= ;
  change_clk_div_while_running, run_times=1, run_opts= ;

  count_up_df, run_times=1, run_opts= ;
  count_down_df, run_times=1, run_opts= ;
  count_up_with_tdr, run_times=1, run_opts= ;
  count_down_with_tdr, run_times=1, run_opts= ;
  count_stop,   run_times=1, run_opts= ;
  count_continue_after_stop,    run_times=1, run_opts= ;
  interrupt_overflow,   run_times=1, run_opts= ;
  interrupt_underflow,run_times=1, run_opts= ;
  interrupt_clear_w1c,run_times=1, run_opts= ;
  interrupt_disabled_overflow,run_times=1, run_opts= ;
  interrupt_disabled_underflow,run_times=1, run_opts= ;
  interrupt_both_enabled,run_times=1, run_opts= ;
  interrupt_enable_when_status_already_set,run_times=1, run_opts= ;
  count_up_clkdiv0,run_times=1, run_opts= ;
  count_up_clkdiv2,run_times=1, run_opts= ;
  count_up_clkdiv4,run_times=1, run_opts= ;
  count_up_clkdiv8,run_times=1, run_opts= ;
  count_down_clkdiv0,run_times=1, run_opts= ;
  count_down_clkdiv2,run_times=1, run_opts= ;
  count_down_clkdiv4,run_times=1, run_opts= ;
  count_down_clkdiv8,run_times=1, run_opts= ;
  count_up_tdr_clkdiv0,run_times=1, run_opts= ;
  count_up_tdr_clkdiv2,run_times=1, run_opts= ;
  count_up_tdr_clkdiv4,run_times=1, run_opts= ;
  count_up_tdr_clkdiv8,run_times=1, run_opts= ;
  count_down_tdr_clkdiv0,run_times=1, run_opts= ;
  count_down_tdr_clkdiv2,run_times=1, run_opts= ;
  count_down_tdr_clkdiv4,run_times=1, run_opts= ;
  count_down_tdr_clkdiv8,run_times=1, run_opts= ;
  count_up_stop_down,run_times=1, run_opts= ;
  count_down_stop_up,run_times=1, run_opts= ;
  count_up_stop_load_up,run_times=1, run_opts= ;
  count_up_stop_load_down,run_times=1, run_opts= ;
  count_down_stop_load_down,run_times=1, run_opts= ;
  count_down_stop_load_up,run_times=1, run_opts= ;
  count_up_stop_change_clkdiv_samedir,run_times=1, run_opts= ;
  count_up_stop_change_clkdiv_down,run_times=1, run_opts= ;
  count_down_stop_change_clkdiv_samedir,run_times=1, run_opts= ;
  count_down_stop_change_clkdiv_up,run_times=1, run_opts= ;
  count_up_stop_change_clkdiv_load_samedir,run_times=1, run_opts= ;
  count_up_stop_change_clkdiv_load_down,run_times=1, run_opts= ;
  count_down_stop_change_clkdiv_load_samedir,run_times=1, run_opts= ;
  count_down_stop_change_clkdiv_load_up,run_times=1, run_opts= ;

  count_up_with_data_min, run_times=1, run_opts= ;
  count_up_with_data_max, run_times=1, run_opts= ;
  count_down_with_data_min, run_times=1, run_opts= ;
  count_down_with_data_max, run_times=1, run_opts= ;


}

